# This kustomization.yaml is not intended to be run by itself,
# since it depends on service name and namespace that are out of this kustomize package.
# It should be run by config/default
resources:
- bases/operator.dapr.io_daprcontrolplanes.yaml
- bases/operator.dapr.io_daprinstances.yaml
- bases/operator.dapr.io_daprcruiscontrols.yaml
#+kubebuilder:scaffold:crdkustomizeresource

configurations:
- kustomizeconfig.yaml
