# This kustomization.yaml is not intended to be run by itself,
# since it depends on service name and namespace that are out of this kustomize package.
# It should be run by config/default
resources:
- bases/dapr.dapr.io_daprs.yaml
#+kubebuilder:scaffold:crdkustomizeresource
