name: Build Main

on:
  push:
    branches:
    - main
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/build.yml
  e2e-operator:
    uses: ./.github/workflows/e2e-operator.yml
    needs:
      - build
  e2e-olm:
    uses: ./.github/workflows/e2e-olm.yml
    needs:
      - build
  publish:
    needs:
      - e2e-olm
      - e2e-operator
    uses: ./.github/workflows/publish.yml
    with:
      version: "${{ github.ref_name }}-${{ github.sha }}"
      olm: false
    secrets:
      registry: daprio
      registry-username: ${{ secrets.DOCKER_REGISTRY_ID }}
      registry-password: ${{ secrets.DOCKER_REGISTRY_PASS }}